.container-fluid{
    background-color:bisque;
    height: 100%;
    min-height: 100vh;
}

.b1{
    text-align: center;
}
:host {
    font-style: italic;
}



.card-header{

    text-align: center;
    color: darkblue;
}
h1{
    text-align: center;
    color: darkblue;
}