<div class="container-fluid">
    <div class="row">
        <form #frmUpdate="ngForm" (ngSubmit)="updateMovie(frmUpdate)">
         Name:<input type="text" name="name" class="form-control" [(ngModel)]="movie.name" required/>
         Genre:<input type="text" name="genre" class="form-control" [(ngModel)]="movie.genre" required/>
         Price:<input type="number" name="price" class="form-control" [(ngModel)]="movie.price" required/>
         Language:<input type="text" name="language" class="form-control" [(ngModel)]="movie.language" required/>
         Description:<input type="text" name="description" class="form-control" [(ngModel)]="movie.description" required/>
         Timing1:<input type="text" name="timing1" class="form-control" [(ngModel)]="movie.timing1" required/>
         Timing2:<input type="text" name="timing2" class="form-control" [(ngModel)]="movie.timing2" required/>
         Timing3:<input type="text" name="timing3" class="form-control" [(ngModel)]="movie.timing3" required/>
         Select image:<input type="file" value="select" #selectFile (change)="onFileSelected($event)" />
        <input type="submit" value="Update Product" class="btn btn-primary" [disabled]="frmUpdate.form.invalid || fileSelected"/>      
        </form>
    </div>
</div>
