<div *ngIf="!isLogin">
<div class="container-fluid">
  
    <div class="row" style="background-color: cyan;min-height:100vh;">
        
        <div class="col-md-12" >
          <div>
            <h1>NMS</h1>
          </div>
          <div style="display: flex;justify-content: center;gap: 20%;align-items: center;margin-top: 5%;"> 
            <div class="card">
              <div class="card-header">
                  User Login
              </div>
              <div class="card-body">
                <form #frmLogin="ngForm">
                  Username:<input type="text" name="username" class="form-control" [(ngModel)]="username" required/>
                  Password:<input type="password" name="password" class="form-control" [(ngModel)]="password" required/>
                </form>
                  <input type="button" class="btn btn-primary" value="Login" [disabled]="frmLogin.form.invalid" (click)="login()"/> 
                  
              </div>
          </div>
          <div class="card">
            <div class="card-header">
                Register User
            </div>
            <div class="card-body">
                <form #frmNew="ngForm">
                Name:<input type="text" name="name" class="form-control" [(ngModel)]="newUser.name" required/>
                Password:<input type="password" name="pass" class="form-control" [(ngModel)]="newUser.password" required/>
                Email:<input type="text" class="form-control" name="email" [(ngModel)]="newUser.email" required/>
                Phone:<input type="text" class="form-control" name="phone" [(ngModel)]="newUser.phone" required/>
                </form>
                <input type="button" class="btn btn-primary" value="Login" [disabled]="frmNew.form.invalid" (click)="register()"/> 
            </div>
        </div>
          </div>  
         
           
        </div>
        

        </div>
    </div>
</div>

<div *ngIf="isLogin">
    <div class="container-fluid" style="background-color:beige;min-height: 100vh;height: 100%;">
        <div class="row">
            <div class="col-md-2">
               
            </div>
            <div class="col-md-8">
                <h1>NMS</h1>
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search Items">
                  </div>
                <ol style="text-align: center;">
                   
                    <li *ngFor="let mov of sortedMovies  | filter:searchText"> 
                        <div class="card" style="border: none;background-color: beige;">
                            <div class="card-body" style="border: none;">  
                                <img class="images" src="{{mov.url}}" width="200" height="200">    
                                <h3 style="color: darkblue;">{{mov.name}}</h3>
                                <h3>{{mov.language}}</h3>
                                <h3>{{mov.genre}}</h3>
                                <h4>Rs&nbsp;{{mov.price}}/-</h4>  
                                <div>
                                <input type="button" class="btn btn-primary" value="Buy tickets" (click)="addToCart(mov)"   />  
                                </div>
                             </div>
                            </div>
                    </li>
                   </ol>
            </div>
            <div class="col-md-2" style="text-align: right;">
              <input type="button" class="btn btn-danger" value="LogOut" (click)="logout()" />
            </div>
        </div>
    </div>
    </div>