ol{
    /* As width is 10 so it
    will create 3 columns */
    width: 100%;
     
    /* Removes any style
       in list */
    list-style: none;
    
    position: relative;
}
ol li{
     
    /* Makes the list to
       float left */
    float: left;
     
    /* Size of one list item */
    
}

.container {
  padding-top: 50%;
  padding-bottom: 10%;
  color: #2d425e;
}
  
  .search-hero {
    width: 50%;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  h3,h1{
    text-align: center;
  }

  h1{
    color: darkblue;
  }

h3{
  color: midnightblue;
}

