<div class="container-fluid">
    <div class="row" style="height: 100vh; background-color:lightcyan;">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="height: 100vh;display: flex;align-items: center;justify-content: center;">
            <div class="card" style="width: 100%;">
                <div class="card-header" style="text-align: center;">
                  <h1 style="color: darkblue;">CREDIT CARD DETAILS</h1>  
                </div>
                <div class="card-body">
                    <form #frmPay="ngForm">
                        Card Holder Name:<input type="text" name="name" class="form-control" [(ngModel)]="name" pattern="[A-Za-z]*" #cardname="ngModel" required/>
                        <br/>
                        <span class="error" *ngIf="cardname.touched && cardname.invalid">
                            Invalid Credit Card Name
                        </span>
                        <br/>
                        Card Number:<input type="text" class="form-control" name="cardno" minlength="16" maxlength="16" pattern="[0-9]*" [(ngModel)]="cardno" #cardn="ngModel" required/>
                        <br/>
                        <span class="error" *ngIf="cardn.touched && cardn.invalid">
                            Invalid Credit Card Number
                        </span>
                        <br/>
                        Expiry Date:<input type="date" name="date" class="form-control" [(ngModel)]="date" required/>
                        <br/>
                        CVV:<input type="text" class="form-control" name="cvv" minlength="3" maxlength="3" pattern="[0-9]*" [(ngModel)]="cvv" #ccvv="ngModel" required/>
                        <br/>
                        <span class="error" *ngIf="ccvv.touched && ccvv.invalid">
                            Invalid cvv
                        </span> <br/>
                        <input type="button" class="btn btn-primary" value="Pay" [disabled]="frmPay.form.invalid" (click)="goToConfirmation()" />
                        <h3>Rs{{totalCost}}/-</h3>
                    </form> 

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>